{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entries list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Datefrom</th>
                <th>Dateto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td><a href="{{ path('entry_show', { 'id': entry.id }) }}">{{ entry.id }}</a></td>
                <td>{{ entry.status }}</td>
                <td>{% if entry.dateFrom %}{{ entry.dateFrom|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entry.dateTo %}{{ entry.dateTo|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('entry_show', { 'id': entry.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('entry_edit', { 'id': entry.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entry_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
